<div class="recipe-card">
  <div class="card-img">
    <%= link_to recipe_saved_recipes_path(recipe, SavedRecipe.new), method: :post do %>
      <ion-icon class ='saved' name='bookmark-outline'></ion-icon>
    <% end %>

    <%= link_to recipe_path(recipe) do %>
      <img src="<%= recipe.image_url %>"/>
    <% end %>
  </div>
  <div class="card-content">
    <h2 class="recipe-title"><%= recipe.name %></h2>
    <hr>
    <div class="recipe-details">
      <div class="recipe-details-item time">
        <div class="values">
          <ion-icon name="time-outline"></ion-icon>
          <span class="value"><%= recipe.cook_time %></span>
        </div>
        <div class="title">Minutes</div>
      </div>
      <div class="recipe-details-item ingredients">
        <div class="values">
          <ion-icon name="book-outline"></ion-icon>
          <span class="value"><%= recipe.recipe_ingredients.count %></span>
        </div>
        <div class="title">Ingredients</div>
      </div>
      <div class="recipe-details-item servings">
        <div class="values">
          <ion-icon name="people-outline"></ion-icon>
          <span class="value"><%= recipe.servings %></span>
        </div>
        <div class="title">Serving</div>
      </div>
    </div>
  </div>
</div>
