<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@recipe.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @recipe.description %>
<% content_for :meta_image, image_path(@recipe.image_url) %>

<div class="container">
  <div class='back-and-icons'>
    <a onclick="window.history.back()" class='back'>
      <i class="fas fa-arrow-left" style='margin-top: 20px;'></i>
    </a>
    <div class='icons' data-controller='card-icons'>
      <% if @saved_recipe %>
        <i class="fas fa-bookmark" data-action='click->card-icons#bookmark' data-saved='<%=@saved_recipe.id%>' data-recipe='<%=@recipe.id%>'></i>
      <% else %>
        <i class="far fa-bookmark" data-action='click->card-icons#bookmark' data-recipe='<%=@recipe.id%>' data-saved='0'></i>
      <% end %>
      <%= link_to recipe_saved_recipes_path(@recipe, attribute: :favourite), method: :post, remote: true do %>
        <% if @saved_recipe && @saved_recipe&.favourite %>
          <i class="fas fa-heart" data-action='click->card-icons#favourite'></i>
        <% else %>
          <i class="far fa-heart" data-action='click->card-icons#favourite'></i>
        <% end %>
      <% end %>
      <%= link_to recipe_saved_recipes_path(@recipe, attribute: :completed), method: :post, remote: true do %>
        <% if @saved_recipe && @saved_recipe&.completed %>
          <i class="fas fa-check-square" data-action='click->card-icons#complete'></i>
        <% else %>
          <i class="far fa-check-square" data-action='click->card-icons#complete'></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <h1 class="name"><%= @recipe.name %></h1>
  <br>
  <center><%=image_tag @recipe.image_url, class: "container-img image"%></center><br>
  <div class="container-flex">
    <div class="container-flex-title">
      <div class="title">
        <ion-icon name="time-outline"></ion-icon>
        Minutes
      </div>
      <center><%= @recipe.cook_time %></center>
    </div>
    <div class="container-flex-title">
      <div class="title">
        <ion-icon name="book-outline"></ion-icon>
        Ingredients
      </div>
      <center><%=@recipe.recipe_ingredients.count  %></center>
    </div>
    <div class="container-flex-title">
      <div class="title">
        <ion-icon name="people-outline"></ion-icon>
        Servings</div>
      <center><%= @recipe.servings %></center>
    </div>
  </div
</div>
</div>
<br>
<div class="container text">
  <div class='social'>
    <%= social_share_button_tag('Check this recipe:', desc: @recipe.name) %>
  </div>
  <h2 class="text-left">Ingredients</h2>
  <br>
  <% @ingredients.each do |ingredient| %>
    <li><% if ingredient.quantity.to_s[-1]=='0' %>
        <%= ingredient.quantity.round %>
      <% else %>
        <%= ingredient.quantity %>
      <% end %>
      <%= ingredient.unit %>
      <%= ingredient.ingredient.name %>
    </li>
  <% end %>
  <br>
  <h2 class="text-left">Instructions</h2>
  <br>
  <% @instructions.each do |instruction| %>
    <p><%= instruction %></p>
  <% end %>
  <br>
