<div class="container">

  <%= link_to 'Back', recipes_path, class: 'back' %>

    <h1 class="name"><%= @recipe.name %></h1> <br>

    <center><%=image_tag @recipe.image_url, class: "container-img"%></center><br>

    <div class="container-flex">
      <div class="container-flex-title">
        <div class="title">
        <ion-icon name="time-outline"></ion-icon>
        Minutes
        </div>
        <center><%= @recipe.cook_time %></center>
      </div>

      <div class="container-flex-title">
        <div class="title">
          <ion-icon name="book-outline"></ion-icon>
          Ingredients
        </div>
        <center><%=@recipe.recipe_ingredients.count  %></center>
      </div>

      <div class="container-flex-title">
        <div class="title">
        <ion-icon name="people-outline"></ion-icon>
        Serving</div>
        <center><%= @recipe.servings %></center>
      </div>
    </div
</div>
<br>
<div class="container">
  <h2 class="text-left">Ingredients</h2> <br>
   <% @ingredients.each do |ingredient| %>

      <li><% if ingredient.quantity.to_s[-1]=='0' %>
            <%= ingredient.quantity.round %>
          <% else %>
            <%= ingredient.quantity %>
          <% end %>
          <%= ingredient.unit %>
          <%= ingredient.ingredient.name %>
    </li>
    <% end %>



<br>
  <h2 class="text-left">Instructions</h2> <br>
  <% @instructions.each do |instruction| %>
    <p><%= instruction %></p>
    <% end %>
</div>
<br>
