<div class="footer">
  <div class="footer-links">
    <p>Created by:</p>
    <ul>
      <li><%= link_to "Brigildo | ", "https://github.com/Brigildo14", target: "_blank", rel: "nofollow" %></li>
      <li><%= link_to "Dev | ", "https://github.com/loperdev", target: "_blank", rel: "nofollow" %></li>
      <li><%= link_to "Marva | ", "https://github.com/marvoosh", target: "_blank", rel: "nofollow" %></li>
      <li><%= link_to "Thallia", "https://github.com/tliabr", target: "_blank", rel: "nofollow" %></li>
    </ul>
  </div>
  <div class="footer-img">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "chefme_trial_logo2_transparent_no_slogan.png" %>
    <% end %>
  </div>
</div>
