<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= yield(:navbar_class) %>">

  <% if user_signed_in? %>

    <div class="navbar-left-div">
      <%= link_to dashboard_path, class: "navbar-brand" do %>
        <i class="fas fa-book"></i>
      <% end %>
    </div>

    <div>
      <%= link_to recipes_path, class: "navbar-brand" do %>
        <%= image_tag "chefme_trial_logo2_transparent_no_slogan.png" %>
      <% end %>
    </div>

    <div>
      <%= image_tag "https://ca.slack-edge.com/T02NE0241-U0289FREFLY-4c0ed7a2ec46-512", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
    </div>

  <% else %>

    <div>
    </div>

    <div>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "chefme_trial_logo2_transparent_no_slogan.png" %>
      <% end %>
    </div>

    <div>
    </div>
  <% end %>

</div>
