<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <div class="form-login">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        placeholder: "Insert your email address",
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        placeholder: "Insert your password",
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log In", class: 'submit-button' %>
          </div>
        <% end %>
        <%= link_to "Forgot your password?", new_user_password_path %>
        <p> --- or --- </p>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'button' %>
      </div>
    </div>
  </div>
</div>
